source https://nuget.org/api/v2

// NuGet packages
nuget NLog ~> 3.2.0
nuget NLog.Contrib ~> 1.0.0.2
nuget FAKE ~> 3.4
nuget FSharp.Core ~> 3.1.2.1
nuget NUnit ~> 2.6.4
nuget NUnit.Runners ~> 2.6.4
nuget FluentAssertions ~> 3.3.0
nuget AutoFixture ~> 3.22.0
nuget Topshelf ~> 3.1.4
nuget Microsoft.AspNet.WebApi.owinSelfHost ~> 5.2.2
nuget Microsoft.AspNet.WebApi.Cors ~> 5.2.2
nuget Lucene.Net ~> 3.0.3
nuget Lucene.Net.Contrib ~> 3.0.3
nuget Unity ~> 3.5.1404.0
nuget FluentScheduler ~> 3.1.45
nuget Moq ~> 4.2.1409.1722
nuget RestSharp ~> 105.0.1
nuget Faker.Net ~> 1.0.3