<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Dashboard</h1>
	</div>
</div>
<div class="row">
	<section class="col-lg-4 col-md-5">
		<a href="javascript:" data-bind="click: function(d, e) {$root.searchTerm('level', 'trace')}"
		   class="panel panel-primary tile">
			<div class="pull-left">
				<div class="circle trace">
					<i class="fa fa-asterisk"></i>
				</div>
			</div>
			<div class="pull-left">
				<div class="counter" data-bind="text: levelCounters().trace">Loading...</div>
				<div class="title">Trace</div>
			</div>
		</a>
	</section>
	<section class="col-lg-4 col-md-5">
		<a class="panel panel-primary tile"
		   href="javascript:" data-bind="click: function(d, e) {$root.searchTerm('level', 'debug')}">
			<div class="pull-left">
				<div class="circle debug">
					<i class="fa fa-cog"></i>
				</div>
			</div>
			<div class="pull-left">
				<div class="counter" data-bind="text: levelCounters().debug">Loading...</div>
				<div class="title">Debug</div>
			</div>
		</a>
	</section>
	<section class="col-lg-4 col-md-5">
		<a class="panel panel-primary tile"
		   href="javascript:" data-bind="click: function(d, e) {$root.searchTerm('level', 'info')}">
			<div class="pull-left">
				<div class="circle info">
					<i class="fa fa-info"></i>
				</div>
			</div>
			<div class="pull-left">
				<div class="counter" data-bind="text: levelCounters().info">Loading...</div>
				<div class="title">Info</div>
			</div>
		</a>
	</section>
</div>
<div class="row">
	<section class="col-lg-4 col-md-5">
		<a class="panel panel-primary tile"
		   href="javascript:" data-bind="click: function(d, e) {$root.searchTerm('level', 'warn')}">
			<div class="pull-left">
				<div class="circle warn">
					<i class="fa fa-warning"></i>
				</div>
			</div>
			<div class="pull-left">
				<div class="counter" data-bind="text: levelCounters().warn">Loading...</div>
				<div class="title">Warn</div>
			</div>
		</a>
	</section>
	<section class="col-lg-4 col-md-5">
		<a class="panel panel-primary tile"
		   href="javascript:" data-bind="click: function(d, e) {$root.searchTerm('level', 'error')}">
			<div class="pull-left">
				<div class="circle error">
					<i class="fa fa-flash"></i>
				</div>
			</div>
			<div class="pull-left">
				<div class="counter" data-bind="text: levelCounters().error">Loading...</div>
				<div class="title">Error</div>
			</div>
		</a>
	</section>
	<section class="col-lg-4 col-md-5">
		<a class="panel panel-primary tile"
		   href="javascript:" data-bind="click: function(d, e) {$root.searchTerm('level', 'fatal')}">
			<div class="pull-left">
				<div class="circle fatal">
					<i class="fa fa-fire"></i>
				</div>
			</div>
			<div class="pull-left">
				<div class="counter" data-bind="text: levelCounters().fatal">Loading...</div>
				<div class="title">Fatal</div>
			</div>
		</a>
	</section>
</div>

<div class="row">
	<div class="col-md-6">
		<section class="panel panel-default">
			<header class="panel-heading"><i class="fa fa-send fa-fw"></i>Senders</header>
			<div class="panel-body">
				<ul class="list-group">
					<!-- ko foreach: topSenders() -->
					<li class="list-group-item">
						<span class="badge" data-bind="text: $data.count"></span>
						<a href="javascript:"
						   data-bind="text: $data.name,
							          click: function(d, e) {$root.searchTerm('sender', $data.name)}"></a>
					</li>
					<!-- /ko -->
				</ul>
			</div>
		</section>
	</div>
	<div class="col-md-6">
		<section class="panel panel-default">
			<header class="panel-heading"><i class="fa fa-send fa-fw"></i>Loggers</header>
			<div class="panel-body">
				<ul class="list-group">
					<!-- ko foreach: topLoggers() -->
					<li class="list-group-item">
						<span class="badge" data-bind="text: $data.count"></span>
						<a href="javascript:"
						   data-bind="text: $data.name,
						              click: function(d, e) {$root.searchTerm('logger', $data.name)}"></a>
					</li>
					<!-- /ko -->
				</ul>
			</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<section class="panel panel-default">
			<header class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i>Last 5 months activity</header>
			<div class="panel-body activity-chart-panel">
				<div id="levelsActivityChart" class="ct-line-chart ct-chart ct-golden-section"></div>
				<div id="activityChartTooltip" class="tooltip-inner hide"></div>
			</div>
		</section>
	</div>
</div>
