<!--<h1 ng-controller="searchController">TO IMPLEMENT</h1>-->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Search</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-3 col-lg-push-9">
		<div class="panel panel-default">
			<div class="panel-body">
				<form>
					<div class="form-group">
						<label for="searchTypeButton">Search type:</label>
						<div class="form-group">
							<div class="btn-group btn-input search-panel-group">
								<button type="button" id="searchTypeButton" data-toggle="dropdown"
								        class="btn btn-default dropdown-toggle form-control">
									<span class="caret"></span>
									<span data-bind2="text: sortFieldLabel">Any expression</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation" class="dropdown-header"><strong>Generic</strong></li>
									<li><a href="javascript:" data-bind2="click: sortField.bind($root,'')">Any expression</a></li>
									<li role="presentation" class="dropdown-header"><strong>Specific (by field)</strong></li>
									<li><a href="javascript:" data-bind2="click: sortField.bind($root,'sender')">Identifier</a></li>
									<li><a href="javascript:" data-bind2="click: sortField.bind($root,'sender')">Sender</a></li>
									<li><a href="javascript:" data-bind2="click: sortField.bind($root,'logger')">Logger</a></li>
									<li><a href="javascript:" data-bind2="click: sortField.bind($root,'level')">Level</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="sorbyFieldButton">Sort by:</label>
						<div class="form-group">
							<div class="btn-group btn-input search-panel-group filter-group">
								<button type="button" id="sorbyFieldButton" data-toggle="dropdown"
										class="btn btn-default dropdown-toggle form-control">
									<span class="caret"></span>
									<span data-bind="text: sortFieldLabel"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="javascript:" data-bind="click: sortField.bind($root,'')">Relevance</a></li>
									<li><a href="javascript:" data-bind="click: sortField.bind($root,'createdAt')">Date</a></li>
									<li><a href="javascript:" data-bind="click: sortField.bind($root,'sender')">Sender</a></li>
									<li><a href="javascript:" data-bind="click: sortField.bind($root,'logger')">Logger</a></li>
									<li><a href="javascript:" data-bind="click: sortField.bind($root,'level')">Level</a></li>
								</ul>
							</div>
							<div class="btn-group disabled" data-toggle="buttons">
								<label data-bind="click: function() {sortReverse(false)},
												  attr: {class: 'btn btn-default btn-xs '+
												    (!sortReverse() ? 'active ' : ' ') +
												    (!sortField() ? 'disabled' : '')}">
									<input type="radio" autocomplete="off" name="sortReverse">
									<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
								</label>
								<label data-bind="click: function() {sortReverse(true)},
												  attr: {class: 'btn btn-default btn-xs '+
												    (sortReverse() ? 'active ' : ' ') +
												    (!sortField() ? 'disabled' : '')}">
									<input type="radio" autocomplete="off" name="sortReverse">
									<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</label>
							</div>
							<!--<div data-bind="text: !!sortReverse()"></div>-->
						</div>
					</div>
					<div class="form-group">
						<label for="filterFromDateInput">From:</label>
						<div class='input-group date' id='filterFromDate'>
							<input type='text' class="form-control" id='filterFromDateInput'
							       data-bind="value: filter.from, valueUpdate: 'keyup'" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						
						<label for="filterTillDateLabel">Till:</label>
						<div class='input-group date' id="filterTillDate">
							<input type='text' class="form-control" id="filterTillDateLabel"
							       data-bind="value: filter.till, valueUpdate: 'keyup'" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<button type="button" data-bind="click: clearAdvancedDetails"
						        class="btn btn-default btn-sm pull-right">Clear</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Search panel -->
	<div class="col-lg-9 col-lg-pull-3">
		<form method="GET" name="searchForm" data-bind="event: { keypress: enterSearch }">
			<div class="input-group">
				<input type="text" class="form-control"
					   data-bind="value: expression, valueUpdate: 'afterkeydown', hasFocus: true"
					   placeholder="Enter your serach query here">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" data-bind="click: makeSearch">Search</button>
				</span>
			</div>
		</form>
		<!-- Search precision panel -->
		<div class="result-count" data-bind="visible: searchResult, text: getSearchResume()"></div>
		<!--  Search results (hits) -->
		<section class="list-group search-result" data-bind="foreach: getFoundHits()">
			<article class="list-group-item" data-bind="attr: {title: 'Score: '+ $data.score}">
				<span data-bind="attr: {'class': 'pull-right ' + $data.level.toLowerCase()}">
					<span data-bind="text: $data.level"></span>
					<i data-bind="attr: {'class': 'fa fa-' + $root.defineFoundIcon($data.level)}"></i>
				</span>
				<a class="list-group-item-heading sender"
				   data-bind="attr: {href: '#/details/'+$data.id}, text: $data.sender"></a>
				<!--<h4 class="list-group-item-heading" data-bind="text: $data.sender"></h4>-->
				<p class="list-group-item-text message" data-bind="text: $data.message"></p>
				<p class="list-group-item-text date"
				   data-bind="text: 'Created on '+ $root.moment($data.createdAt).format('MMM d, YYYY [at] hh:mm:ss')"></p>
			</article>
		</section>
		<!--  Pagination -->
		<nav class="text-center" data-bind="visible: totalPages() > 1">
			<ul class="pagination" data-bind="visible: searchResult">
				<li data-bind="css: {disabled: page() === 1}">
					<a href="#" aria-label="Previous"
					   data-bind="visible: page() !== 1, attr: {href: '/#/search/'+(page() - 1)+'/'+encodeURIComponent($root.expression())}">
						<span aria-hidden="true">&laquo;</span>
					</a>
					<span aria-hidden="true" data-bind="visible: page() === 1">&laquo;</span>
				</li>
				<!-- ko foreach: getPages() -->
				<li data-bind="css: {active: $data === $root.page()}">
					<a href="#"
					   data-bind="text: $data, attr: {href: '/#/search/'+$data+'/'+encodeURIComponent($root.expression())}"></a>
				</li>
				<!-- /ko -->
				<li data-bind="css: {disabled: page() === totalPages()}">
					<a href="#" aria-label="Next"
					   data-bind="visible: page() !== totalPages(), attr: {href: '/#/search/'+(page() + 1)+'/'+encodeURIComponent($root.expression())}">
						<span aria-hidden="true">&raquo;</span>
					</a>
					<span aria-hidden="true" data-bind="visible: page() === totalPages()">&raquo;</span>
				</li>
			</ul>
		</nav>
	</div>
</div>