<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>
<div class="row" ng-controller="indexController">
    <section class="col-lg-4 col-md-5">
        <div class="panel panel-primary tile">
            <div class="pull-left">
                <div class="circle trace">
                    <i class="fa fa-asterisk"></i>
                </div>
            </div>
            <div class="pull-left">
                <div class="counter">60</div>
                <div class="title">Trace</div>
            </div>
        </div>
    </section>
    <section class="col-lg-4 col-md-5">
        <div class="panel panel-primary tile">
            <div class="pull-left">
                <div class="circle debug">
                    <i class="fa fa-cog"></i>
                </div>
            </div>
            <div class="pull-left">
                <div class="counter">60</div>
                <div class="title">Debug</div>
            </div>
        </div>
    </section>
    <section class="col-lg-4 col-md-5">
        <div class="panel panel-primary tile">
            <div class="pull-left">
                <div class="circle info">
                    <i class="fa fa-info"></i>
                </div>
            </div>
            <div class="pull-left">
                <div class="counter">60</div>
                <div class="title">Info</div>
            </div>
        </div>
    </section>
</div>
<div class="row">
    <section class="col-lg-4 col-md-5">
        <div class="panel panel-primary tile">
            <div class="pull-left">
                <div class="circle warn">
                    <i class="fa fa-warning"></i>
                </div>
            </div>
            <div class="pull-left">
                <div class="counter">6260</div>
                <div class="title">Warn</div>
            </div>
        </div>
    </section>
    <section class="col-lg-4 col-md-5">
        <div class="panel panel-primary tile">
            <div class="pull-left">
                <div class="circle error">
                    <i class="fa fa-flash"></i>
                </div>
            </div>
            <div class="pull-left">
                <div class="counter">60</div>
                <div class="title">Error</div>
            </div>
        </div>
    </section>
    <section class="col-lg-4 col-md-5">
        <div class="panel panel-primary tile">
            <div class="pull-left">
                <div class="circle fatal">
                    <i class="fa fa-fire"></i>
                </div>
            </div>
            <div class="pull-left">
                <div class="counter">60</div>
                <div class="title">Fatal</div>
            </div>
        </div>
    </section>
</div>

<div class="row">
    <div class="col-md-7">
        <section class="panel panel-default">
            <header class="panel-heading"><i class="fa fa-send fa-fw"></i>Senders</header>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge">14</span>Sender1.PreProduction</li>
                    <li class="list-group-item"><span class="badge">35</span>Sender1.Production</li>
                    <li class="list-group-item"><span class="badge">78</span>Sender2.PreProduction</li>
                    <li class="list-group-item"><span class="badge">38</span>Sender2.Production</li>
                    <li class="list-group-item"><span class="badge">7985</span>Sender3.Custom</li>
                </ul>
            </div>
        </section>
    </div>
    <div class="col-md-5">
        <section class="panel panel-default">
            <header class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i>Last 5 days activity</header>
            <div class="panel-body">
                TODO
            </div>
        </section>
    </div>

</div>
