.navbar {
    margin-bottom: 0;
}

.panel-primary {
    border-color: #E9E9E9;
}

.tile {
    overflow: hidden;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    background: none repeat scroll 0% 0% #FFF;
    /*border: 1px solid #E9E9E9;*/
    border-radius: 2px;
    padding: 1.2em 1.2em 1.2em 0;
}
    .tile .counter {
        font-size: 25px;
    }
    .tile .title {
        font-weight: bold;
        text-transform: uppercase;
    }
    .tile .pull-left {
        margin-left: 1.5em;
    }

.circle {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    text-align: center;
    vertical-align: middle;
    padding-top: .3em;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

    .circle.info {
        background-color: #337AB7;
        border-color: #2361AE;
    }
    .circle.trace {
        background-color: #2DACC8;
        border-color: #2361AE;
    }
    .circle.debug {
        background-color: #23ae89;
    }
    .circle.error {
        background-color:#ae2323;
    }
    .circle.fatal {
        background-color:#000;
    }
    .circle.warn {
        background-color: #E69D3B;
    }

